<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.mapper.TypeMapper">

    <!--id = 接口的名称   resultType = sql语句将要返回的对象    -->
    <select id="selectByTypeName" resultType="com.md.entity.Type">
        select * from type where name like #{typeName}
    </select>

</mapper>