<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.mapper.TestCaseMapper">
    <select id="searchTestCase" resultType="com.md.entity.TestCase">
        select * from TestData.test_case where description like #{description} or nodeid like #{nodeid}
    </select>
</mapper>